<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @department.organization.name %>
</p>

<%= link_to 'Edit', edit_organization_department_path(@organization, @department) %> |
<%= link_to 'Back', organization_path(@organization) %>
